<h1>Users</h1>

<ul class="list-unstyled ">
  <% @users.each do |user| %>
    <li class="flex items-center justify-center my-2 ">
      <div class="w-100 h-100">
        <img src="<%= user.photo %>" alt="photo" class="object-cover h-56 w-100" />
      </div>
      <div class="flex border items-center min-h-52 h-56 p-4 w-100">
        <%=  link_to user.name, user, class: "text-4xl" %>
       <p class="relative  self-end top-8 left-1/4"> Number of posts:
                <%=  link_to user.postCounter, user %>
       </p> 
      </div>
    </li>
    <li>
    </li>
  <% end %>
</ul>
    