<li class="flex items-center my-2 min-w-100 border">
  <div class="w-72 h-full">
    <img src="<%= user.photo %>" alt="photo" class="object-contain h-56 min-w-56 w-full" />
  </div>

  <div class="flex flex-col h-56 w-screen" style="padding:1rem">
   <p style="position:relative; top:85px; margin-left: 0.5rem">
     <%= link_to user.name, user, class: "text-4xl"%>
   </p>
    <p class="relative top-36 self-end">Number of posts:
      <%= link_to user.postsCounter, user %>
    </p>
  </div>
</li>


   