<ul>
<h1>Here is a Single User (<%= @user.name %>)</h1>
<h4>Here is a list of posts for <%= @user.name %></h4>
 <% if @user %>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, user_post_path(@user, post) %></li>
  <% end %>
<% else %>
  <p>User not found.</p>
<% end %>
</ul>

<%= link_to "list of all Users", users_path %>
