 <li class="flex flex-col sm:flex-row ">

    <img src="<%= @user.photo %>" alt="photo" class="img-fluid img-thumbnail h-50 w-50" />
      <div class="flex border items-center h-32 sm:h-56 p-4 w-100">
        <%=  link_to @user.name, @user, class: "text-4xl" %>
       <p class="relative  self-end top-8 left-8  sm:left-1/4"> Number of posts:
                <%=  link_to @user.postCounter, @user %>
       </p> 
      </div>
    </li>
    <li class="min-h-56 min-w-100 border mt-4">
      <div class="p-2 ">
        <p> Bio: <br/>
          <%= @user.bio %> 
        </p>
      </div>
</li>